{{range ls "/services/storm-nimbus/containers"}}{{ $containerName := getv (printf "/services/storm-nimbus/containers/%s" .)}}{{getv (printf "/containers/%s/primary_ip" $containerName)}}:6627\n{{end}}

